<div class="panel panel-primary">
  <div class="panel-heading">
    <h5>Categories:</h5>
  </div>
  <div class="panel-body">
    <div class="text-left">
      <div class="form-inline">
        <div class="form-group">
          <label for="category-select">Category:</label>
          <p-dropdown
                 [options]="categoryList"
                 (onChange)="onCategorySelect($event)"
                 [ngModel]="selectedCategory?.id"
                 [style]="{'min-width' : '140px'}"
                 id="category-select">
          </p-dropdown>
        </div>
        <div class="form-group">
          <a><span (click)="addCategory()" class="glyphicon glyphicon-plus text-success"></span></a>
          <a><span (click)="removeCategory()" class="glyphicon glyphicon-trash text-danger"></span></a>
        </div>
      </div>
      <div *ngIf="selectedCategory" class="row" [ngStyle]="{'margin-left' : '30px', 'padding-top' : '10px'}">
        <div class="col-md-4">
          <div class="form-group">
            <label for="name-input">Name:</label>
            <input class="input-sm form-control"
                   id="name-input"
                   (change)="updateCategory()"
                   [(ngModel)]="selectedCategory.name">
          </div>
          <div class="form-group">
            <label for="amount-input">Amount:</label>
            <input class="input-sm form-control"
                   id="amount-input"
                   (change)="updateCategory()"
                   [(ngModel)]="selectedCategory.budgetAmount">
          </div>
          <div class="form-group col-xs-5">
            <label for="parent-category-select">Parent Category:</label>
            <p-dropdown
                   [options]="parentCategories"
                   [(ngModel)]="selectedCategory.parentId"
                   (onChange)="updateCategory($event)"
                   [ngModel]="selectedCategory?.parentId"
                   [disabled]="isParentCategory()"
                   [style]="{'min-width' : '140px'}"
                   id="parent-category-select"></p-dropdown>
          </div>
        </div>
        <div class="col-md-4">
          <p>
            <b>Total Spent:</b> {{selectedCategory.total}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
