<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-5 text-left">
    <div class="form-inline">
      <div class="form-group">
        <label for="category-select">Category:</label>
        <select class="input-sm form-control" id="category-select"></select>
      </div>
      <div class="form-group">
        <a><span class="glyphicon glyphicon-plus text-success"></span></a>
        <a><span class="glyphicon glyphicon-trash text-danger"></span></a>
      </div>
    </div>
    <div class="form-group">
      <label for="name-input">Name:</label>
      <input class="input-sm form-control" id="name-input">
    </div>
    <div class="form-group">
      <label for="amount-input">Amount:</label>
      <input class="input-sm form-control" id="amount-input">
    </div>
    <div>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>

