<div [ngStyle]='{ "margin-left" : "15px"}'>
  <h1>Budget Progress</h1>
  <div [ngStyle]='{ "margin-left" : "15px"}'>
    <div *ngFor="let category of categoryMetadata">
      <div *ngIf="category.isParent">
        <h3>{{category.title}} - {{category.amount | safeCurrency}}</h3>
      </div>
      <div *ngIf="category.total" [ngStyle]="{'margin-left' : '10px'}">
        <app-budget-progress-bar  [title]="category.title" [amount]="category.amount" [total]="category.total" [categoryId]="category.id"></app-budget-progress-bar>
      </div>
    </div>
  </div>
</div>
