<nav class="navbar navbar-default">
  <!--<div class="container-fluid">-->
    <div class="navbar-header">
      <p>Budget</p>
    </div>
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand glyphicon glyphicon-usd"> Accounts</a></li>
      <li><a class="navbar-brand glyphicon glyphicon-grain"> Budgets</a></li>
      <li><a class="navbar-brand glyphicon glyphicon-dashboard"> Stats</a></li>
    </ul>
  <!--</div>-->
</nav>
<app-category-viewer [style]="{'width':'100%','height':'100%'}"></app-category-viewer>
<!--<app-expense-viewer></app-expense-viewer>-->
<app-account-selector [style]="{'width':'100%','height':'100%'}"></app-account-selector>
