<!--<div class="form-inline">-->
<!--<div class="form-group" >-->
<table>
  <tr>
    <td [ngStyle]="{'width' : '440px'}">
      <label for="progress-bar" [ngStyle]="{'min-width' : '300px', 'font-size' : '12pt'}">{{category.name}}: 
        <span *ngIf="category.term == 1" class="label label-info float-right">One Time</span>
        <span *ngIf="category.isRollover" class="label label-info float-right">Rollover Amount: {{rollOverAmount | safeCurrency}}</span>
      </label>
      <div class="progress" [ngStyle]="{width : '100%'}">
        <div class="progress-bar" [ngClass]="getStyleClass()" [ngStyle]="{'width' : getRoundedPercentage()}">
          <!--<span class="text-center text-bold">{{percentage}}%</span>-->
        </div>
      </div>
      <!--</div>-->
      <td>
        <div class="form-group" [ngStyle]="{'margin-left' : '15px', 'margin-top' : '25px'}">
          <h5><a routerLink="/expenses" [queryParams]="{'categoryId' : category.id, 'month' : selectedDate}">{{total | safeCurrency}}/{{category.budgetAmount | safeCurrency}}</a></h5>
        </div>
      </td>
  </tr>
</table>
<!--</div>-->
